<div class="bg-grey-dark py-12">
    <div class="border-b border-grey pb-12">
        <div class="container flex flex-col sm:flex-row items-center justify-between">
            <h3 class="text-grey-light tracking-wide text-3xl">100% Open Source</h3>
            <ul class="list-reset flex items-center mt-6 sm:mt-0">
                <li><a href="https://trello.com/b/EzOvXlil/toolkit-for-ynab-roadmap"><i class="hover:opacity-75 transition-opacity transition-300 text-4xl text-white mx-4 bx bxl-trello"></i></a></li>
                <li><a href="https://github.com/toolkit-for-ynab/toolkit-for-ynab"><i class="hover:opacity-75 transition-opacity transition-300 text-4xl text-white mx-4 bx bxl-github"></i></a></li>
                <li><a href="https://twitter.com/toolkitforynab"><i class="hover:opacity-75 transition-opacity transition-300 text-4xl text-white mx-4 bx bxl-twitter"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="container pt-12">
        <p class="text-sm text-white leading-relaxed text-grey-light mb-4"><span class="uppercase font-bold">IMPORTANT NOTE: </span>This extension is not affiliated with or endorsed by You Need a Budget in any way. You Need a Budget and YNAB are registered trademarks of Steine LLC and/or one of its subsidiaries.</p>

        <p class="text-sm text-white leading-relaxed text-grey-light mb-4">THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>

        <p class="text-sm text-white leading-relaxed text-grey-light">© {{ 'now' | date: "%Y" }} Toolkit for YNAB. All rights reserved.</p>
    </div>
</div>
