<div class="container flex flex-col md:flex-row items-center justify-between py-4">
    <a href="/">
        <img src="/images//toolkit-for-ynab.png" alt="logo" class="h-24 w-auto mb-6 md:mb-0">
    </a>
    <ul class="list-reset flex items-center">
        <li><a href="#about" class="uppercase text-sm md:text-lg text-black font-bold px-2 md:px-4">About</a></li>
        <li><a href="#features" class="uppercase text-sm md:text-lg text-black font-bold px-2 md:px-4">Features</a></li>
        <li><a href="#support" class="uppercase text-sm md:text-lg text-black font-bold px-2 md:px-4">Support</a></li>
        <li><a href="#contribute" class="uppercase text-sm md:text-lg text-black font-bold px-2 md:px-4">Contribute</a></li>
    </ul>
</div>
