<div class="container flex items-center justify-between py-4">
    <a href="/">
        <img src="/images//toolkit-for-ynab.png" alt="logo" class="h-16 md:h-24 w-auto">
    </a>
    <ul class="list-reset items-center hidden lg:flex">
        <li><a href="/" class="uppercase text-lg text-black font-bold px-4">About</a></li>
        <li><a href="/" class="uppercase text-lg text-black font-bold px-4">Features</a></li>
        <li><a href="/" class="uppercase text-lg text-black font-bold px-4">Support</a></li>
        <li><a href="/" class="uppercase text-lg text-black font-bold px-4">Contribute</a></li>
    </ul>
    <button type="button" class="block lg:hidden"><i class="bx bx-menu text-5xl text-primary"></i></button>
</div>
