<div class="container flex flex-col md:flex-row items-center justify-between py-4">
    <a href="/">
        <img src="/images//toolkit-for-ynab.png" alt="logo" class="h-24 w-auto mb-6 md:mb-0">
    </a>
    <ul class="list-reset flex items-center">
        <li><a href="#about" class="uppercase transition-border transition-300 text-sm md:text-lg text-black border-b-2 border-transparent hover:border-black font-bold mx-2 md:mx-4 no-underline">About</a></li>
        <li><a href="#features" class="uppercase transition-border transition-300 text-sm md:text-lg text-black border-b-2 border-transparent hover:border-black font-bold mx-2 md:mx-4 no-underline">Features</a></li>
        <li><a href="#support" class="uppercase transition-border transition-300 text-sm md:text-lg text-black border-b-2 border-transparent hover:border-black font-bold mx-2 md:mx-4 no-underline">Support</a></li>
        <li><a href="#contribute" class="uppercase transition-border transition-300 text-sm md:text-lg text-black border-b-2 border-transparent hover:border-black font-bold mx-2 md:mx-4 no-underline">Contribute</a></li>
    </ul>
</div>
